body{
    background-color: green;
}
.content1 {
    width: 80vw;
    height: 80vh;
    position: fixed;
    background-color: #FFE400;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 10%;
    margin-right: 5%;
}
h1{
    font-family: 'Courgette', cursive;
    
}
.content1 p{
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    color: #FF1700;
    font-size: large;
}